 <form class="bg-light">
  <div class="mb-3">
    <h2 class="text-center">Login</h2>
    <label for="loginEmail" class="form-label">Email</label>
    <input type="text" class="form-control" id="loginEmail">
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <button type="submit" class="btn btn-danger loginManager">Login</button>
</form>
<br>
 <form class="bg-light">
  <div class="mb-3">
    <h2 class="text-center">Signup</h2>
    <label for="loginName" class="form-label">Name</label>
    <input type="text" class="form-control" id="signupName">
  </div>
  <div class="mb-3">
    <label for="signupEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="signupEmail">
  </div>
   <div class="mb-3">
    <label for="signupPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signupPassword">
  </div>
  <button type="submit" class="btn btn-danger loginManager">Signup</button>
</form>

<script src="./js/login.js"></script>
